section.content
    h1 Меняйте валюты как вам удобно!
    p.content__info Просто выберите интересующую вас валюту из перечня доступных, и мы обменяем ее по самому выгодному курсу
    a.content__img(href="#")
