form.currencyExch(action="#" method="GET" name="currencyexch")
    h2 Выберите одно из направлений обмена
    div.button__list
        button.button.button__group(data-send="btc" data-send-value="Bitcoin BTC" data-get="uan" data-get-value="Visa/Mastercard UAN")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/bitcoin@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/bitcoin@2x.png")
                img(src="./assets/images/cryptoicons/bitcoin.png" alt="bitcoin icon")
            img.button__arrow(src="./assets/images/arrow/arrow-right.svg")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/card@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/card@2x.png")
                img(src="./assets/images/cryptoicons/card.png" alt="card icon")
        button.button.button__group(data-send="btc" data-send-value="Bitcoin BTC" data-get="etn" data-get-value="Etherium ETN")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/bitcoin@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/bitcoin@2x.png")
                img(src="./assets/images/cryptoicons/bitcoin.png" alt="bitcoin icon")
            img.button__arrow(src="./assets/images/arrow/arrow-right.svg")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/etherium@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/etherium@2x.png")
                img(src="./assets/images/cryptoicons/etherium.png" alt="etherium icon")
        button.button.button__group(data-send="btc" data-send-value="Bitcoin BTC" data-get="adv" data-get-value="Advcash ADV")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/bitcoin@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/bitcoin@2x.png")
                img(src="./assets/images/cryptoicons/bitcoin.png" alt="bitcoin icon")
            img.button__arrow(src="./assets/images/arrow/arrow-right.svg")
            picture
                source(media="(min-width: 2881px)" srcset="./assets/images/cryptoicons/advcash@3x.png")
                source(media="(min-width:1440px) and (max-width:2880px)" srcset="./assets/images/cryptoicons/advcash@2x.png")
                img(src="./assets/images/cryptoicons/advcash.png" alt="advcash icon")
    div.input--custom.input--sendValue
        input.input(name="send_value" type="number" placeholder='1000')
        div.select#sendValue
            select(name="send_unit")
                option(value="uan" selected) Visa/Mastercard UAN
                option(value="etn") Etherium ETN
                option(value="btc") Bitcoin BTC
                option(value="adv") Advcash ADV
            div.select--custom
                span.select--selected(data-unit="uan" data-value="Visa/Mastercard UAN") Visa/Mastercard UAN
                ul.select__list
                    li(data-unit='uan' data-value="Visa/Mastercard UAN") Visa/Mastercard UAN
                    li(data-unit="etn" data-value="Etherium ETN") Etherium ETN
                    li(data-unit="btc" data-value="Bitcoin BTC") Bitcoin BTC
                    li(data-unit="adv" data-value="Advcash ADV") Advcash ADV
    p.currencyExch__info Комиссия за обмен
        span.currencyExch__infoValue  23 uan
    div.input--custom.input--getValue
        input.input(name="get_value" type="number" placeholder='1000' readonly="readonly")
        div.select#getValue
            select(name="send_unit")
                option(value="uan" selected) Visa/Mastercard UAN
                option(value="etn") Etherium ETN
                option(value="btc") Bitcoin BTC
                option(value="adv") Advcash ADV
            div.select--custom
                span.select--selected(data-unit="uan" data-value="Visa/Mastercard UAN") Visa/Mastercard UAN
                ul.select__list
                    li(data-unit='uan' data-value="Visa/Mastercard UAN") Visa/Mastercard UAN
                    li(data-unit="etn" data-value="Etherium ETN") Etherium ETN
                    li(data-unit="btc" data-value="Bitcoin BTC") Bitcoin BTC
                    li(data-unit="adv" data-value="Advcash ADV") Advcash ADV
    label.checkbox
        input(type='checkbox' checked)
        span.checkbox__icon
        span.checkbox__text Я согласен с правилами сервиса
    button.button.button--custom(type="submit") Обменять

// img(src="./assets/images/arrow/arrow-right.svg" srcset="./assets/images/arrow/arrow-right_2.svg 2x, ./assets/images/arrow/arrow-right_3.svg 3x")