nav.menu
    li.menu__item
        a.menu__link(href="#") Обменять
    li.menu__item
        a.menu__link(href="#") Резервы
    li.menu__item
        a.menu__link(href="#") Как мы работаем
    li.menu__item
        a.menu__link(href="#") FAQ
    li.menu__item
        a.menu__link(href="#") Документы
button.button.menu--mobile