@import "../variables";

.checkbox {
  cursor:pointer;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  padding-left: 5px;
  margin-top: 17px;
  &:hover {
    cursor: pointer;
  }
  & > input[type="checkbox"] {
    display: none;
  }
  &__text {
    font-size: 0.875rem;
    color: var(--dark-gray);
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border: 1px solid #331139;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color 0.3s linear;
    margin-right: 10px;
    &::before {
      content: "";
      display: flex;
      width: 13px;
      height: 13px;
      background: url("./assets/images/arrow/checkbox.svg") no-repeat 0 0;
      background-size: contain;
      opacity: 0;
      transition: opacity 0.3s linear;
    }
  }
}

.currencyExch {
  & input[type="checkbox"]:checked ~ .checkbox__icon {
    background-color: #331139;
    &::before {
      opacity: 1;
    }
  }
}
