@import "./variables";

.content {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: 50%;
  &__info {
    font-size: 1.25rem;
    color: var(--light-purple);
    margin-top: 46px;
    margin-bottom: 67px;
    line-height: 26px;
    padding-right: 20%;
  }
  &__img {
    width: 145px;
    height: 71px;
    background: url("./assets/images/trustpilot/trustpilot.png") no-repeat 0 0;
    background-size: contain;
  }
}

@media screen and (min-width: 2881px) {
  .content {
    &__img {
      background: url("./assets/images/trustpilot/trustpilot@3x.png") no-repeat 0 0;
      background-size: contain;
    }
  }
}

@media screen and (min-width: 1441px) and (max-width: 2880px){
  .content {
    &__img {
      background: url("./assets/images/trustpilot/trustpilot@2x.png") no-repeat 0 0;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 1152px) {
  .content {
    &__info {
      padding-right: 5%;
    }
  }
}

@media screen and (max-width: 960px) {
  .content {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    padding-top: 10px;
    min-height: max-content;
    &__info {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .content {
    &__img {
      width: 125px;
    }
  }
}