@import "./variables";

.currencyExch {
  width: 444px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  padding: 40px 2% 71px 21px;
  position: relative;
  &__info {
    font-size: 0.75rem;
    color: var(--light-gray);
    margin-left: var(--input-padding-left);
    margin-top: 11px;
  }
  &__infoValue {
    font-family: GothamMedium, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-gray);
  }
  & button[type="submit"] {
    position: absolute;
    right: 5.18%;
    width: 240px;
    height: 42px;
    font-size: 1rem;
    font-family: GothamMedium, sans-serif;
  }
}

.input {
  &--custom {
    display: flex;
    margin-top: 33px;
    width: 100%;
    height: var(--input-height);
    border-radius: 3px;
    border: solid 1px #efefef;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: var(--input-padding-left);
      top: var(--input-before-top);
      color: var(--light-gray);
      font-size: 0.875rem;
    }
  }
  &--sendValue {
    &::before {
      content: "Вы отправляете";
    }
  }
  &--getValue {
    margin-top: 29px;
    &::before {
      content: "Вы получите";
    }
  }
}

.select {
  font-size: 0.875rem;
  width: 46.23%;
  flex-shrink: 0;
  & select {
    display: none;
  }
  &--custom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__list {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 222;
    border: solid 1px #f2f2f2;
    position: absolute;
    left: 0;
    top: calc(var(--input-height) - 2px);
    background-color: var(--white);
    & li {
      background-color: var(--white);
      height: 56.67px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;
      margin: 0 var(--input-padding-left);
      border-bottom: solid 1px #f2f2f2;
      &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
      }
    }
    &--show {
      display: flex;
    }
  }
  &--selected {
    height: inherit;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: '';
      background: url("./assets/images/arrow/arrow-select.svg") no-repeat center;
      background-size: contain;
      transform: rotate(90deg);
      height: 15px;
      width: 7px;
      position: absolute;
      right: 10px;
    }
  }
}

span[data-unit="uan"],
li[data-unit="uan"] {
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background: url("./assets/images/cryptoicons/card.png");
    background-size: contain;
  }
}

span[data-unit="etn"],
li[data-unit="etn"] {
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background: url("./assets/images/cryptoicons/etherium.png");
    background-size: contain;
  }
}

span[data-unit="btc"],
li[data-unit="btc"] {
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background: url("./assets/images/cryptoicons/bitcoin.png");
    background-size: contain;
  }
}

span[data-unit="adv"],
li[data-unit="adv"] {
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background: url("./assets/images/cryptoicons/advcash.png");
    background-size: contain;
  }
}

.button {
  picture {
    width: 26px;
    height: 26px;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
    transition: border 0.3s linear;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
    }
    &:hover {
      border: 1px solid var(--grape-purple);
    }
  }
  & picture img {
      display: inline-flex;
      width: 26px;
      height: 26px;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (min-width: 2881px) {
  span[data-unit="uan"],
  li[data-unit="uan"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/card@3x.png");
      background-size: contain;
    }
  }

  span[data-unit="etn"],
  li[data-unit="etn"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/etherium@3x.png");
      background-size: contain;
    }
  }

  span[data-unit="btc"],
  li[data-unit="btc"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/bitcoin@3x.png");
      background-size: contain;
    }
  }

  span[data-unit="adv"],
  li[data-unit="adv"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/advcash@3x.png");
      background-size: contain;
    }
  }

}

@media screen and (min-width: 1441px) and (max-width: 2880px){
  span[data-unit="uan"],
  li[data-unit="uan"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/card@2x.png");
      background-size: contain;
    }
  }

  span[data-unit="etn"],
  li[data-unit="etn"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/etherium@2x.png");
      background-size: contain;
    }
  }

  span[data-unit="btc"],
  li[data-unit="btc"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/bitcoin@2x.png");
      background-size: contain;
    }
  }

  span[data-unit="adv"],
  li[data-unit="adv"] {
    &::before {
      content: "";
      background: url("./assets/images/cryptoicons/advcash@2x.png");
      background-size: contain;
    }
  }

}

@media screen and (max-width: 768px) {
  .currencyExch {
    align-self: center;
    margin-top: 30px;
    min-height: max-content;
  }
}

@media screen and (max-width: 480px) {
  .currencyExch {
    width: 100%;
    padding: 40px 2% 71px 2%;
  }
  .button {
    &__list {
      flex-wrap: wrap;
      justify-content: flex-start;
      & .button {
        margin-right: 10px;
        margin-bottom: 15px;
      }
    }
  }
  .select {
    width: 60%;
    font-size: 1rem;
  }
  .input {
    &--custom {
      justify-content: space-between;
    }
    &--sendValue {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 340px) {
  .select {
    font-size: 0.9rem;
  }
}