@import "variables";

@keyframes toRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes selectRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes selectLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes menuHidden {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.content {
  transform: translateX(-100%);
  opacity: 0;
  animation: toRight 0.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

}

.currencyExch {
  transform: translateX(100%);
  opacity: 0;
  animation: toLeft 0.5s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.select__list--show {
  transform: translateX(-50px);
  opacity: 0;
  animation: selectRight 0.3s linear;
  animation-fill-mode: forwards;
}

.select__list--hidden {
  transform: translateX(0);
  opacity: 1;
  animation: selectLeft 0.3s linear;
  animation-fill-mode: forwards;
}

.menu--show,
.menu--mobileShow {
  transform: translateX(-100%);
  opacity: 0;
  animation: toRight 0.5s linear;
  animation-fill-mode: forwards;
}

.menu--hidden {
  transform: translateX(0);
  opacity: 1;
  animation: menuHidden 0.5s linear;
  animation-fill-mode: forwards;
}