@import "./_variables";
@import "./_fonts";

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: var(--input-font-size);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1 {
  font-size: 2.5rem;
  color: var(--dark-gray);
  font-family: GothamBold, sans-serif;
  font-weight: bold;
  line-height: 47px;
}

h2 {
  font-size: var(--h2-size);
  color: var(--dark-gray);
  font-family: GothamBold, sans-serif;
  font-weight: bold;
}

.button {
  border: solid 1px #efefef;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  background-color: transparent;
  border-radius: 3px;
  width: 126px;
  height: 42px;
  &--custom {
    background-color: var(--grape-purple);
    color: var(--white);
    border-radius: 5px;
    width: var(--button-width);
    height: 37px;
    border: 2px solid transparent;
    transition: border 0.3s linear, color 0.3s linear, background-color 0.3s linear;
    &:hover {
      background-color: var(--white);
      color: var(--grape-purple);
      border: 2px solid var(--grape-purple);
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.input {
  padding-left: var(--input-padding-left);
  padding-top: var(--input-padding-top);
  width: 53.77%;
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  color: var(--dark-gray);
}
::-moz-placeholder {
  color: var(--dark-gray);
}
:-ms-input-placeholder {
  color: var(--dark-gray);
}
:-moz-placeholder {
  color: var(--dark-gray);
}

@media screen and (max-width: 480px) {
  .input {
    width: 30%;
  }
}