@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/roboto/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GothamBold;
  src: url("./assets/fonts/gotham/GothamBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: GothamMedium;
  src: url("./assets/fonts/gotham/GothamProMedium.ttf");
  font-weight: 500;
  font-style: normal;
}


