:root {
  --grape-purple: #331139;
  --light-purple: #341139;
  --white: #ffffff;
  --black: #000000;
  --gray: #333333;
  --dark-gray: #212121;
  --light-gray: #a3a3a3;
  --button-width: 162px;
  --h1-size: 2.5rem;
  --h2-size: 1.125rem;
  --header-height: 62px;
  --input-font-size: 1.31rem;
  --input-padding-left: 10px;
  --input-padding-top: 28px;
  --input-before-top: 14px;
  --input-height: 72px
}

@media screen and (max-width: 480px) {
  :root {
    --input-padding-left: 5px;
    --button-width: 125px;
  }
}
