@import "~reset-css";
@import "_fonts";
@import "_variables";
@import "_custom";
@import "_animation";
@import "./header/_menu";
@import "./header/_cabinet";
@import "./header/_logo";
@import "./main/_content";
@import "./main/_form";
@import "./main/_checkbox";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: url("./assets/images/bg/bg-crypto.png") no-repeat bottom;
  background-size: cover;
}

header, main {
  width: 1150px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--header-height);
  min-height: var(--header-height);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
//  min-height: calc(100% - var(--header-height));
  padding-right: 48px;
  padding-top: 93px;
}

@media screen and (min-width: 2881px) {
  body {
    background: url("./assets/images/bg/bg-crypto@3x.png") no-repeat bottom;
    background-size: cover;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2880px){
  body {
    background: url("./assets/images/bg/bg-crypto@2x.png") no-repeat bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  header, main {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 1152px) {
  main {
    padding-top: 65px;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait){
  body {
    background: url("./assets/images/bg/bg-crypto-small.png") no-repeat bottom;
    background-size: cover;
  }
}
