button[name='toCabinet'] {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 940px) {
  button[name='toCabinet'] {
    position: static;
  }
}

@media screen and (max-width: 1200px) {
  button[name='toCabinet'] {
    right: 3%;
  }
}