@media screen and (max-width: 940px) {
  .logo {
    & svg {
      width: 160px;
    }
  }
}

@media screen and (max-width: 480px) {
  .logo {
    & svg {
      width: 140px;
      height: 27px;
    }
  }
}

@media screen and (max-width: 340px) {
  .logo {
    & svg {
      width: 110px;
      height: 25px;
    }
  }
}