@import "./variables";

.menu {
  display: flex;
  justify-content: space-between;
  width: 48.26%;
  margin-right: calc(var(--button-width) + 56px);
  height: 100%;
  &__item {
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: normal;
    transition: font-weight 0.3s linear;
  }
  &--show {
    display: flex;
  }
}

.menu {
  &--mobile {
    display: none;
    position: relative;
    width: 50px;
    border: none;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background-color: var(--grape-purple);
      position: absolute;
      left: 10px;
    }
    &::before {
      top: 12px;
      transform: rotate(0deg);
      transition: transform 0.5s linear;
    }
    &:after {
      bottom: 12px;
      transform: rotate(0deg);
      transition: transform 0.5s linear;
    }
    &:hover {
      cursor: pointer;
      &::before,
      &::after {
        background-color: darkred;
      }
    }
  }
}

.menu {
  &--mobileShow {
    width: 100%;
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    &::before {
      transform: rotate(45deg);
      top: 30px;
      left: calc(100% - 75px);
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 30px;
      left: calc(100% - 75px);
    }
  }
}

@media screen and (min-width: 1441px) {
  .menu {
    &__item {
      height: inherit;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: transparent;
        transform: translateX(-100%);
        transition: transform 0.3s linear, background-color 0.3s linear;
      }
      &:hover {
        & .menu__link {
          font-weight: bold;
        }
        &::before {
          background-color: var(--light-purple);
          transform: translateX(0);
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .menu {
    display: none;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 100%;
    background-color: var(--white);
    margin-right: 0;
    z-index: 555;
    align-items: center;
    justify-content: flex-start;
    &__item {
      width: 100%;
      padding: 0 5%;
    }
    &__link {
      height: 60px;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      letter-spacing: 1.2px;
      width: 100%;
      border-bottom: 1px solid #efefef;
      text-transform: uppercase;
    }
    &--mobile {
      display: flex;
    }
    &--show {
      display: flex;
    }
  }
}