doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="cryptoexch")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='cryptoexch'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        header
            include ./includes/logo
            include ./includes/menu
            include ./includes/cabinet
        main
            include ./includes/content
            include ./includes/form

